<launch>  
  <node name="ndt_occ_map" pkg="ndt_costmap" type="slice_map" output="screen">
    <param name="ndt_map_name" value="/home/tzkr/Downloads/ncfm_sim_03_map.jff" />
    <param name="ndt_resolution" value="0.3"/>
    <param name="occ_map_name" value="/home/tzkr/ncfm"/>
    <param name="occ_resolution" value="0.3"/>
    <param name="sample_height" value="0.5"/>
    <param name="floor_deviation" value="0.5"/>
    <param name="lik_tr" value="0.00000000001"/>
    <param name="floor_only" value="true"/>
  </node>

  </launch>
