<?xml version="1.0"?>
<launch>
<node pkg="ndt_offline" type="bag_file_view" name="bag_file_view"  output="screen" >
<param name="odometry_topic" type="string" value="vmc_navserver/odom" />
<param name="gt_topic" type="string" value="vmc_navserver/state" />
<param name="t_merge_frames" type="int" value="1" />
</node>

<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ndt_offline)/launch/show_bag.rviz" />

<arg name="path" default="$(find ndt_offline)/bag/oru_bags/" />
<arg name="file_1" default="3d_laser_short.bag" />
<node pkg="rosbag" type="play" name="player" output="screen" args="-r 10 $(arg path)$(arg file_1)"/>

<node pkg="tf2_ros" type="static_transform_publisher" name="world_publisher" args="0 0 0 0 0 0 1.0 /world /state_base_link" />
</launch>

