<?xml version="1.0"?>
<launch>
<arg name="arla-2012" default="false" />
<arg name="oru-basement" default="false" />
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find ndt_offline)/launch/offline_graph_vis.rviz" />

<group if="$(arg oru-basement)">
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_scan_fuser" args="0.3 0 0 0 0 -0.72429 0.6895 state_base_link velodyne" />
</group>

<group if="$(arg arla-2012)">
  <node pkg="tf2_ros" type="static_transform_publisher" name="laser_scan_fuser" args="1.18 -0.3 2.0 0 0 -0.7242871743701824 0.6894984329517051 state_base_link velodyne" />
</group>
</launch>

